{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-hover justify-content-center">
        <thead>
            <tr scope="row">
                <th scope="col">Type</th>
                <th scope="col">Symbol</th>
                <th scope="col">Price</th>
                <th scope="col">Shares</th>
                <th scope="col">Date & Time</th>

            </tr>
        </thead>
        <tbody>
            <!--Jinja Loop rows-->
            {% for row in rows %}
                <tr scope="row">
                    <td scope="col-3">{{ row["type"] }}</td>
                    <td scope="col-3">{{ row["stock"] }}</td>
                    <td scope="col-3">{{ row["price"] }}</td>
                    <td scope="col-3">{{ row["shares"] }}</td>
                    <td scope="col-3">{{ row["date"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}